@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-light-webfont.woff2") format("woff2"),
    url("./fonts/lato-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-regular-webfont.woff2") format("woff2"),
    url("./fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-bold-webfont.woff2") format("woff2"),
    url("./fonts/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font: inherit;
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: var(--maxWidthforTexts); */
}

/* CSS RESET ENDS HERE */

:root {
  --maxWidthforTexts: 65ch;
  --light-weight: 300;

  /* Background Color */
  --bg-color: rgb(25, 25, 25);

  /* Sidebar Colors */
  --sidebar-font-color: #e0e0e0;
  --sidebar-bg-color: rgb(32, 32, 32);
  --sidebar-bg-color-hover: rgb(44, 44, 44);

  /* Note Header Colors */
  --note-header-font-color: white;
  --note-header-bg-color: transparent;
  --note-header-bg-color-hover: rgb(38, 38, 38);

  /* Note Body Colors */
  --note-body-bg-color: rgb(38, 38, 38);
  --note-body-font-color: #e0e0e0;

  /* Icon / Button Colors */
  --menu-icon-color: white;
  --menu-icon-hover: rgb(44, 44, 44);
  --plus-button-color: transparent;
  --plus-button-color-hover: rgb(44, 44, 44);
  --project-add-button-bg-color: rgb(67, 67, 67);
  --todo-three-dots-bg-color-hover: rgb(50, 50, 50);

  /* Dialog Colors */
  --dialog-bg: #2f3438;
  --dialog-font-color: #e0e0e0;
  --dialog-fiels-bg-color: #373c3f;
  --dialog-fiels-bg-color-hover: #373c3f;
  --dialog-button-bg-color: #373c3f;
  --dialog-button-bg-color-hover: #3f4448;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
}

/* generic things */
body {
  background-color: var(--bg-color);
  display: flex;
}

.horizontal-vertical-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0 0 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

/* Sidebar */

#menu-icon-span {
  background-color: var(--bg-color);
  flex-shrink: 0;
}

#menu-icon-wrapper {
  transition: transform 0.3s ease-out;
}

.menu-icon {
  border-radius: 3px;
  color: var(--menu-icon-color);
  cursor: pointer;
  padding: 0.2rem;
  top: 0;
  position: sticky;
}

.menu-icon:hover {
  background-color: var(--menu-icon-hover);
}

.rotate-y-axis {
  transform: rotateY(180deg);
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  padding: 0.5rem 0.3rem;
  /* width: 15rem; */
  flex-basis: 15rem;
  flex-shrink: 0;
  overflow-y: auto;
  color: var(--sidebar-font-color);
  padding-block-start: 1rem;
  box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
  transition: all 0.3s ease;
}

.sidebar.close {
  /* width: 0; */
  flex-basis: 0;
  padding: 0;
}

/* todo burayı değiştiricen unutma .wrap-collapsible değil de başka bi şey olacak burda onun yerini tutan*/
/* .sidebar:not(.close) ~ main .wrap-collapsible {
  min-width: 18rem;
} */

.sidebar-item {
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-item,
.project-header {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover,
.project-header:hover {
  background-color: var(--sidebar-bg-color-hover);
}

.sidebar-item > svg {
  min-width: 24px;
  height: auto;
  overflow: hidden;
}

.project-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-block-start: 2rem;
  font-size: 1rem;
  font-weight: 300;

  & button {
    font-weight: normal;
    border: none;
    border-radius: 4px;
    color: inherit;
    background-color: transparent;
    font-size: 1.6rem;
    justify-self: end;
    padding: 0.15rem;
    cursor: pointer;

    &:hover {
      background-color: var(--project-add-button-bg-color);
    }
  }
}

.projects h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-three-dots {
  margin-inline-start: auto;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
  font-size: 1.6rem;
  justify-self: end;
  padding: 0.15rem;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background-color: var(--project-add-button-bg-color);
  }
}

/* To do */

.note-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline-end: 10px;
  padding-inline-start: 5px;
  margin-block-end: 2rem;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px; */
}

.scroll-indicator-span {
  --scroll-indicator-content: "";
  position: relative;
  text-align: center;
  bottom: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  /* pointer-events: none; */
  opacity: 0.65;
  color: white;
  transition: opacity 0.3s ease;
}

.scroll-indicator-span:hover {
  opacity: 0.3;
}

.scroll-indicator-span::before {
  content: var(--scroll-indicator-content);
  position: absolute;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  /* animation: bounce 2s infinite; */
}

/* @keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(5px);
  }
} */

.add-todo-wrapper {
  display: flex;
  justify-content: end;
  padding-inline-end: 1rem;
  padding-block-end: 8px;
}

.add-todo-button {
  font-size: 2rem;
  color: white;
  border-radius: 100%;
  border: none;
  background-color: var(--plus-button-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1rem;
  flex-shrink: 0;
}

.add-todo-button:hover {
  background-color: var(--plus-button-color-hover);
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--dialog-bg);
  color: var(--dialog-font-color);
  width: min(100%, 65ch);

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input,
  textarea,
  select,
  button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #b7ada4;
    border-radius: 4px;
    background-color: var(--dialog-fiels-bg-color);
    width: 100%;
    color: white;

    & + label {
      margin-block-start: 0.5rem;
    }
  }

  label {
    font-weight: 700;
    font-size: 1.2rem;
  }

  &::backdrop {
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 20px
    );
    backdrop-filter: blur(3px);
  }

  textarea {
    resize: vertical;
  }

  .dialog-buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-block-start: 1rem;

    & button {
      cursor: pointer;
      background-color: var(--dialog-button-bg-color);
      color: white;
      border: none;
      justify-self: end;
      flex-grow: 0;
      transition: background-color 0.3s ease;
    }

    & button:hover {
      background-color: var(--dialog-button-bg-color-hover);
    }
  }

  /* dialog checkbox */
  .completed-label {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .completed-label .completed {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 1.25em;
    margin: 0;
    position: relative;
    width: 1.875em;
  }

  .completed-label .completed::before {
    bottom: -0.375em;
    content: "";
    left: -0.375em;
    position: absolute;
    right: -0.375em;
    top: -0.375em;
  }

  .completed-label .completed,
  .completed-label .completed::after {
    transition: all 100ms ease-out;
  }

  .completed-label .completed::after {
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    content: "";
    height: 0.875em;
    left: 0.1875em;
    position: absolute;
    top: 0.1875em;
    width: 0.875em;
  }

  .completed-label input[type="checkbox"] {
    cursor: default;
  }

  .completed-label .completed:hover {
    background-color: #9c9da0;
    transition-duration: 0s;
  }

  .completed-label .completed:checked {
    background-color: rgb(102, 102, 102);
  }

  .completed-label .completed:checked::after {
    background-color: #fff;
    left: 0.8125em;
  }

  .completed-label :focus:not(.focus-visible) {
    outline: 0;
  }

  .completed-label .completed:checked:hover {
    background-color: rgb(85, 85, 85);
  }
}

/* styling for todo element */
.todo-title-wrapper {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--note-header-bg-color);
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.2rem 0.2rem 0.2rem 10px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid #555;
  }
}

.todo-title-wrapper.flat-bottom-borders {
  border-radius: 6px 6px 0 0;
}

.todo-title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.2rem;
}

.due-date-info {
  margin-inline-start: auto;
  margin-inline-end: 1rem;
}

.todo-three-dots {
  border-radius: 6px;
  flex-shrink: 0;

  &:hover {
    background-color: var(--todo-three-dots-bg-color-hover);
  }
}

.collapsible-content {
  background-color: var(--note-body-bg-color);
  color: var(--note-body-font-color);
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms all ease;
  padding: 0 0.4rem;
  visibility: hidden;
}

.collapsible-content.active {
  grid-template-rows: 1fr;
  padding: 0.2rem 0.4rem;
  visibility: visible;
}

.collapsible-content > p {
  overflow: hidden;
}

.todo-wrapper + .todo-wrapper {
  margin-block-start: 0.5rem;
}

/* checkbox for todo */
.completed-todo-checkbox-wrapper {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.completed-todo-checkbox-wrapper label {
  flex-shrink: 0;
}

.completed-todo-checkbox-wrapper p {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.completed-todo-checkbox-wrapper input:checked ~ p {
  color: #777;
  text-decoration: line-through;
}

.completed-todo-checkbox-wrapper input {
  position: absolute;
  /* opacity: 0; */
  display: none;
}

.completed-todo-checkbox-wrapper input:checked + label svg path {
  stroke-dashoffset: 0;
}

.completed-todo-checkbox-wrapper input:focus + label {
  transform: scale(1.03);
}

.completed-todo-checkbox-wrapper input + label {
  display: block;
  border: 2px solid #333;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.completed-todo-checkbox-wrapper input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.completed-todo-checkbox-wrapper input + label svg {
  pointer-events: none;
  padding: 5%;
}

.completed-todo-checkbox-wrapper input + label svg path {
  fill: none;
  stroke: white;
  stroke-width: 0.25rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}
