@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-light-webfont.woff2') format('woff2'),
       url('./fonts/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-regular-webfont.woff2') format('woff2'),
       url('./fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-bold-webfont.woff2') format('woff2'),
       url('./fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

* {
  font: inherit;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: var(--maxWidthforTexts);
}
/* CSS RESET ENDS HERE */

:root {
  --maxWidthforTexts: 65ch; 
}

html {
  font-family: Lato, Arial, sans-serif;
}

/* generic things */
body {
  background-color: black;
}

.horizontal-vertical-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar */


/* Note element */
.wrap-collapsible {
  max-width: var(--maxWidthforTexts);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.wrap-collapsible input[type='checkbox'] {
    display: none;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.lbl-toggle {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;

  transition: transform .2s ease-out;
}

.sidebar-container {
  max-width: 20rem; /* sidebar width */ 
}

.sidebar {
  max-width: inherit;
  width: 100%;
  height: 100vh;
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-item {
  text-decoration: none;
  color: black;
}