@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-light-webfont.woff2") format("woff2"),
    url("./fonts/lato-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-regular-webfont.woff2") format("woff2"),
    url("./fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato-bold-webfont.woff2") format("woff2"),
    url("./fonts/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

* {
  font: inherit;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: var(--maxWidthforTexts); */
}

/* CSS RESET ENDS HERE */

:root {
  --maxWidthforTexts: 65ch;
  --light-weight: 300;

  /* Sidebar Colors */
  --sidebar-font-color: rgb(220, 220, 220);
  --sidebar-bg-color: rgb(34, 12, 58);
  --sidebar-bg-color-hover: rgb(100, 40, 130);

  /* Note Header Colors */
  --note-header-font-color: rgb(255, 255, 255);
  --note-header-bg-color: rgb(100, 20, 150);

  /* Note Body Colors */
  --note-body-bg-color: rgb(140, 60, 200);
  --note-body-font-color: rgb(235, 224, 224);

  /* Background Colors */
  --bg-color: rgb(20, 20, 30);

  /* Icon Colors */
  --menu-icon-color: rgb(255, 255, 255);
  --menu-icon-hover: rgb(63, 64, 71);
  --plus-button-color: rgb(100, 20, 150);
  --plus-button-color-hover: rgb(138, 28, 206);

  /* Dialog Colors */
  --dialog-bg: rgb(59, 68, 75);
  --dialog-font-color: rgb(255, 255, 255);
  --dialog-fiels-bg-color: rgb(54, 69, 79);
  --dialog-fiels-bg-color-hover: rgba(237, 234, 224, 0.712);
  --dialog-button-bg-color: rgb(100, 20, 150);
  --dialog-button-bg-color-hover: rgb(138, 28, 206);
}

html {
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
}

/* generic things */
body {
  background-color: var(--bg-color);
  display: flex;
}

.horizontal-vertical-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
  background-color: var(--bg-color);
  position: relative;
  height: 100vh;
}

/* Note element */
.wrap-collapsible {
  /* max-width: var(--maxWidthforTexts); */
  margin-block-end: 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.wrap-collapsible input[type="checkbox"] {
  display: none;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: var(--note-body-bg-color);
  color: var(--note-body-font-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.lbl-toggle {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  color: var(--note-header-font-color);
  background: var(--note-header-bg-color);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

/* Sidebar */

#menu-icon-span {
  transition: transform 0.5s ease-out;
  background-color: var(--bg-color);
}

.menu-icon {
  border-radius: 3px;
  color: var(--menu-icon-color);
  cursor: pointer;
  padding: 0.2rem;
  top: 0;
  position: sticky;
  width: max-content;
}

.menu-icon:hover {
  background-color: var(--menu-icon-hover);
}

.rotate-y-axis {
  transform: rotateY(180deg);
}

.sidebar-container {
  font-weight: bold;
  flex-basis: 70rem;
  transition: flex-basis 0.5s ease;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 0.3rem;
  overflow-y: scroll;
  color: var(--sidebar-font-color);
}

.sidebar-item {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 1rem;
  border-radius: 10px;
  margin-block-end: 0.5rem;
  color: inherit;
}

.sidebar-item,
.project-header {
  padding: 0.3rem;
  border-radius: 10px;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover,
.project-header:hover {
  background-color: var(--sidebar-bg-color-hover);
}

.sidebar-item > svg {
  min-width: 24px;
  height: auto;
  overflow: hidden;
}

.project-header {
  display: grid;
  grid-auto-flow: column;
  margin-block-start: 2rem;
  font-size: 1rem;

  & button {
    font-weight: normal;
    border: none;
    border-radius: 4px;
    color: inherit;
    background-color: transparent;
    font-size: 1.6rem;
    justify-self: end;
    padding: 0.15rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

/* To do */

.note-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding-inline-end: 1rem;
  margin-block-end: 2rem;
}

.scroll-indicator-span {
  --scroll-indicator-content: "";
  position: relative;
  text-align: center;
  bottom: 3rem;
  font-size: 2rem;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.65;
  color: white;
}

.scroll-indicator-span::before {
  content: var(--scroll-indicator-content);
  position: absolute;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(5px);
  }
}

.add-todo-button {
  position: sticky;
  margin-inline-start: auto;
  margin-inline-end: 1rem;
  margin-block-end: 1rem;
  z-index: 2;
  font-size: 2rem;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--plus-button-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.add-todo-button:hover {
  background-color: var(--plus-button-color-hover);
}

.todo-info {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}

.edit-todo {
  margin-inline-start: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.2rem;
  width: max-content;

  &:hover {
    /* border: 2px solid #b7ada47a; */
    background-color: rgba(0, 0, 0, 0.3);
  }
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--dialog-bg);
  color: var(--dialog-font-color);
  width: min(100%, 65ch);

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input,
  textarea,
  select,
  button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #b7ada4;
    border-radius: 4px;
    background-color: var(--dialog-fiels-bg-color);
    width: 100%;
    color: white;

    & + label {
      margin-block-start: 0.5rem;
    }
  }

  label {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &::backdrop {
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 20px
    );
    backdrop-filter: blur(3px);
  }

  textarea {
    resize: vertical;
  }

  .dialog-buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-block-start: 1rem;

    & button {
      cursor: pointer;
      background-color: var(--dialog-button-bg-color);
      color: white;
      border: none;
      justify-self: end;
      flex-grow: 0;
      transition: background-color 0.3s ease;
    }

    & button:hover {
      background-color: var(--dialog-button-bg-color-hover);
    }
  }

  .completed-label {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .completed-label .completed {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 1.25em;
    margin: 0;
    position: relative;
    width: 1.875em;
  }

  .completed-label .completed::before {
    bottom: -0.375em;
    content: "";
    left: -0.375em;
    position: absolute;
    right: -0.375em;
    top: -0.375em;
  }

  .completed-label .completed,
  .completed-label .completed::after {
    transition: all 100ms ease-out;
  }

  .completed-label .completed::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 0.875em;
    left: 0.1875em;
    position: absolute;
    top: 0.1875em;
    width: 0.875em;
  }

  .completed-label input[type="checkbox"] {
    cursor: default;
  }

  .completed-label .completed:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .completed-label .completed:checked {
    background-color: rgb(138, 28, 206);
  }

  .completed-label .completed:checked::after {
    background-color: #fff;
    left: 0.8125em;
  }

  .completed-label :focus:not(.focus-visible) {
    outline: 0;
  }

  .completed-label .completed:checked:hover {
    background-color: rgb(100, 20, 150);
  }
}
